{% extends 'partials/variables.html.twig' %}

{% set module = page.header.contents %}
{% set features = page.header.about_company_features %}
{% set image = page.media[module.image] %}

{% block render_block %}
	<div class="about-company-wrapper slide-up {{ module.parent_classes }}">
		<svg xmlns="http://www.w3.org/2000/svg" width="151" height="227" viewbox="0 0 151 227" fill="none" style="position: absolute;
				right:0;
				top: 31px;    z-index: -1;">
			<g filter="url(#filter0_f_16041_5231)">
				<path d="M103.25 113.465L35 152.833L35 74.0966L103.25 34.7281L103.25 113.465Z" fill="url(#paint0_linear_16041_5231)"/>
				<path d="M103.25 192.202L35 152.833L103.25 113.465L171.5 152.833L103.25 192.202Z" fill="url(#paint1_linear_16041_5231)"/>
				<path d="M171.5 152.833L103.25 113.465L103.25 34.7279L171.5 74.0964L171.5 152.833Z" fill="url(#paint2_linear_16041_5231)"/>
			</g>
			<defs>
				<filter id="filter0_f_16041_5231" x="0.6604" y="0.388428" width="205.18" height="226.153" filterunits="userSpaceOnUse" color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix"/>
					<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
					<feGaussianBlur stddeviation="17.1698" result="effect1_foregroundBlur_16041_5231"/>
				</filter>
				<linearGradient id="paint0_linear_16041_5231" x1="101.937" y1="114.222" x2="33.3924" y2="78.3336" gradientunits="userSpaceOnUse">
					<stop stop-color="#6B1CFF"/>
					<stop offset="1" stop-color="#7E15EE"/>
				</linearGradient>
				<linearGradient id="paint1_linear_16041_5231" x1="101.937" y1="191.445" x2="98.7218" y2="114.195" gradientunits="userSpaceOnUse">
					<stop stop-color="#5F17EF"/>
					<stop offset="1" stop-color="#8345FF"/>
				</linearGradient>
				<linearGradient id="paint2_linear_16041_5231" x1="170.187" y1="152.076" x2="89.9363" y2="45.9635" gradientunits="userSpaceOnUse">
					<stop stop-color="#731CFF"/>
					<stop offset="1" stop-color="#5412ED"/>
				</linearGradient>
			</defs>
		</svg>
		<svg xmlns="http://www.w3.org/2000/svg" width="151" height="227" viewbox="0 0 151 227" fill="none" style="position: absolute;
				    position: absolute;
				    left: -25px;
				    bottom: 160px;
				    rotate: 360;
				    transform: rotate(180deg);    z-index: -1;">
			<g filter="url(#filter0_f_16041_5231)">
				<path d="M103.25 113.465L35 152.833L35 74.0966L103.25 34.7281L103.25 113.465Z" fill="url(#paint0_linear_16041_5231)"/>
				<path d="M103.25 192.202L35 152.833L103.25 113.465L171.5 152.833L103.25 192.202Z" fill="url(#paint1_linear_16041_5231)"/>
				<path d="M171.5 152.833L103.25 113.465L103.25 34.7279L171.5 74.0964L171.5 152.833Z" fill="url(#paint2_linear_16041_5231)"/>
			</g>
			<defs>
				<filter id="filter0_f_16041_5231" x="0.6604" y="0.388428" width="205.18" height="226.153" filterunits="userSpaceOnUse" color-interpolation-filters="sRGB">
					<feFlood flood-opacity="0" result="BackgroundImageFix"/>
					<feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
					<feGaussianBlur stddeviation="17.1698" result="effect1_foregroundBlur_16041_5231"/>
				</filter>
				<linearGradient id="paint0_linear_16041_5231" x1="101.937" y1="114.222" x2="33.3924" y2="78.3336" gradientunits="userSpaceOnUse">
					<stop stop-color="#6B1CFF"/>
					<stop offset="1" stop-color="#7E15EE"/>
				</linearGradient>
				<linearGradient id="paint1_linear_16041_5231" x1="101.937" y1="191.445" x2="98.7218" y2="114.195" gradientunits="userSpaceOnUse">
					<stop stop-color="#5F17EF"/>
					<stop offset="1" stop-color="#8345FF"/>
				</linearGradient>
				<linearGradient id="paint2_linear_16041_5231" x1="170.187" y1="152.076" x2="89.9363" y2="45.9635" gradientunits="userSpaceOnUse">
					<stop stop-color="#731CFF"/>
					<stop offset="1" stop-color="#5412ED"/>
				</linearGradient>
			</defs>
		</svg>

		{% if module.img_top_left != null %}
			<img class="img-top-left" src="{{ page.media[module.img_top_left].url() }}"/>
		{% endif %}

		{% if module.img_top_right != null %}
			<img class="img-top-right" src="{{ page.media[module.img_top_right].url() }}"/>
		{% endif %}

		{% if module.img_bottom_right != null %}
			<img class="img-bottom-right" src="{{ page.media[module.img_bottom_right].url() }}"/>
		{% endif %}

		<div class="container">

			<div class="contents-wrapper {{ module.child_classes }}">
				<div class="company-contents {{ module.direction }}">
					<div class="contents">

						{% if module.subtitle %}
							<h4>
								{% if module.subtitle.translatable != null %}
									<div>
										{{ module.subtitle.translatable|striptags('<span>')|raw }}</div>
								{% endif %}
								<svg xmlns="http://www.w3.org/2000/svg" width="76" height="2" viewbox="0 0 76 2" fill="none">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M0 0.728027C0 0.451885 0.223858 0.228027 0.5 0.228027H75.5C75.7761 0.228027 76 0.451885 76 0.728027C76 1.00417 75.7761 1.22803 75.5 1.22803H0.5C0.223858 1.22803 0 1.00417 0 0.728027Z" fill="#8F8F8F"/>
								</svg>
							</h4>
						{% endif %}
						{% if module.content_title != null %}
							<h3 class="content-title">{{ module.content_title.translatable|striptags('<span>')|raw }}</h3>
						{% endif %}
						<span class="about-desc slide-up">
							{{ page.content|raw }}
						</span>

						<!-- Button -->

						{% if module.button_text.translatable != null %}
			
							<a href="{{ url(grav.language.getActive ~ module.button_link) }}" class="button about-company-btn">
								{{ module.button_text.translatable }}
							</a>
						{% endif %}
						{% if features != null %}

							{% if module.icon_style == 'random_icon' %}

								<div class="random-icon-list-group">
									<h4>
										{% if module.subtitle.translatable != null %}
											<div>
												{{ module.subtitle.translatable|striptags('<span>')|raw }}</div>
										{% endif %}
										<svg xmlns="http://www.w3.org/2000/svg" width="1180" height="2" viewbox="0 0 1180 2" fill="none">
											<path d="M1 1L1179 1.0001" stroke="#8F8F8F" stroke-linecap="round"/>
										</svg>
									</h4>
									{% for item in features %}
										<div class="list-item random-{{loop.index}} {{module.classes_for_content_title}}">

											<div class="list-header">
												<img class="list-img" src="{{ page.media[item.icon].url() }}" alt="Icon"/>
												<h4 class="title {{module.classes_for_content_title}}">{{ item.title.translatable|raw }}</h4>
											</div>

											<div class="list-content">
												<p class="slide-up">{{ item.brief.translatable|raw }}</p>
											</div>
										</div>
									{% endfor %}

								</div>

							{% else %}
								<div class="same-icon-list-group">
									{% for item in features %}
										<div class="list-item random-{{loop.index}} {{module.classes_for_content_title}}">

											<div class="list-header">
												<img class="list-img" src="{{ page.media[item.icon].url() }}" alt="Icon"/>
												<h4 class="title {{module.classes_for_content_title}}">{{ item.title.translatable|raw }}</h4>
											</div>

											<div class="list-content slide-up"">
												<p class="slide-up">{{ item.brief.translatable|raw }}</p>
											</div>
										</div>
									{% endfor %}
								</div>
							{% endif %}

						{% endif %}


					</div>

					{% if image != null %}
						<div class="image">
							{% if module.img_on_content != null %}
								<img class="img-on-content" src="{{ page.media[module.img_on_content].url() }}"/>
							{% endif %}

							<img class="main-img" src="{{ image.url }}" alt="About Company Image"/>

							{% if module.overlay_image != null %}
								<img class="overlay-image" src="{{ page.media[module.overlay_image].url() }}"/>
							{% endif %}
						</div>
					{% endif %}


				</div>

			</div>

		</div>

	</div>
{% endblock %}
