{% extends 'partials/variables.html.twig' %}
{% set module = page.header.modules %}
{% set contents = page.header.contents %}
{% set image_top_left = page.media[module.image_top_left] %}
{% set image_bottom_left = page.media[module.image_bottom_left] %}


{% set module = page.header.modules %}
{% set contents = page.header.contents %}

{% block render_block %}
    <section class="contact-block-section {{ module.classes }}">
        <div class="container">
            <div class="contact-block-wrapper">
                <div class="contact-block-content-parent">
                    <div class="contact-form">
                        <div class="contact-block-header">
                            {% if module.title %}
                                <h1>{{ module.title.translatable|striptags('<span>')|raw }}</h1>
                            {% endif %}
                        </div>
                        {#                        {% include 'forms/form.html.twig' with {form: forms('contact-us'), action: '#'} %} #}
                        <form name="contact-us" action="#" method="POST" id="contact-us" class=" ">
                            <div class="form-field   ">
                                <div class="form-label"><label class="inline">First Name <span class="required">*</span></label>
                                </div>
                                <div class="form-data" data-grav-field="text" data-grav-disabled=""
                                     data-grav-default="null">
                                    <div class="form-input-wrapper ">
                                        <input name="data[first_name]" value="" type="text" class="form-input "
                                               required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="form-field   ">
                                <div class="form-label"><label class="inline">Last Name <span class="required">*</span></label>
                                </div>
                                <div class="form-data" data-grav-field="text" data-grav-disabled=""
                                     data-grav-default="null">
                                    <div class="form-input-wrapper ">
                                        <input name="data[last_name]" value="" type="text" class="form-input "
                                               required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="form-field   ">
                                <div class="form-label"><label class="inline">Email <span
                                                class="required">*</span></label>
                                </div>
                                <div class="form-data" data-grav-field="email" data-grav-disabled=""
                                     data-grav-default="null">
                                    <div class="form-input-wrapper ">
                                        <input name="data[email]" value="" type="email" class="form-input "
                                               required="required"
                                               pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                               title="Please enter valid email address.">
                                    </div>
                                </div>
                            </div>
                            <div class="form-field   ">
                                <div class="form-label"><label class="inline">Phone</label>
                                </div>
                                <div class="form-data" data-grav-field="text" data-grav-disabled=""
                                     data-grav-default="null">
                                    <div class="form-input-wrapper ">
                                        <input name="data[phone]" value="" type="text" class="form-input ">
                                    </div>
                                </div>
                            </div>

                            <div class="form-field   ">
                                <div class="form-label"><label class="inline">Message <span
                                                class="required">*</span></label>
                                </div>
                                <div class="form-data" data-grav-field="textarea" data-grav-disabled=""
                                     data-grav-default="null">
                                    <div class="form-textarea-wrapper  ">
                                        <textarea name="data[message]" class="form-textarea  " required="required"
                                                  rows="10"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="form-field   ">
                                <div class="form-label"><label class="inline">Are you human?</label>
                                </div>
                                <div class="form-data basic-captcha" data-grav-field="basic-captcha"
                                     data-grav-disabled="" data-grav-default="null">
                                    <div class="form-input-wrapper ">
                                        <div class="form-input-addon form-input-prepend">
                                            <img id="basic-captcha-reload" src="/forms-basic-captcha-image.jpg"
                                                 alt="human test">
                                            <button id="reload-captcha">
                                                <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                                    <g fill="currentColor">
                                                        <path d="M14.74 22.39c4.68-1.24 8-5.49 8-10.4 0-5.95-4.79-10.75-10.75-10.75 -3.11 0-5.78 1.11-7.99 2.95 -.77.64-1.43 1.32-1.98 2.01 -.34.41-.57.75-.69.95 -.22.35-.1.81.25 1.02 .35.21.81.09 1.02-.26 .08-.15.27-.43.56-.79 .49-.62 1.08-1.23 1.76-1.81C6.87 3.67 9.21 2.7 11.94 2.7c5.13 0 9.25 4.12 9.25 9.25 0 4.22-2.86 7.88-6.9 8.94 -.41.1-.64.51-.54.91 .1.4.51.63.91.53Zm-12-14.84V2.99c-.001-.42-.34-.75-.75-.75 -.42 0-.75.33-.75.75v4.56c0 .41.33.75.75.75 .41 0 .75-.34.75-.75Zm-.75.75H4h2.43c.41 0 .75-.34.75-.75 0-.42-.34-.75-.75-.75H4 1.99c-.42 0-.75.33-.75.75 0 .41.33.75.75.75Z"></path>
                                                        <path d="M1.25 12c0 1.09.16 2.16.48 3.18 .12.39.54.61.93.49 .39-.13.61-.55.49-.94 -.28-.89-.42-1.81-.42-2.75 0-.42-.34-.75-.75-.75 -.42 0-.75.33-.75.75Zm1.93 6.15c.61.88 1.36 1.67 2.22 2.33 .32.25.79.19 1.05-.14 .25-.33.19-.8-.14-1.06 -.74-.58-1.38-1.25-1.92-2.02 -.24-.34-.71-.43-1.05-.19 -.34.23-.43.7-.19 1.04Zm5.02 3.91c1 .37 2.06.6 3.15.66 .41.02.76-.3.79-.71 .02-.42-.3-.77-.71-.8 -.94-.06-1.85-.25-2.72-.58 -.39-.15-.83.04-.97.43 -.15.38.04.82.43.96Z"></path>
                                                    </g>
                                                </svg>
                                            </button>
                                            <script>
                                                function stripQueryString(url) {
                                                    return url.split("?")[0].split("#")[0];
                                                }

                                                document.getElementById("reload-captcha").onclick = function (event) {
                                                    event.preventDefault();
                                                    const src = stripQueryString(document.getElementById("basic-captcha-reload").src);
                                                    document.getElementById("basic-captcha-reload").src = src + `?v=${new Date().getTime()}`;
                                                }
                                            </script>
                                        </div>
                                        <input name="data[basic-captcha]" value="" type="text" class="form-input "
                                               placeholder="copy the 6 characters">
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="button button primary">Send Message</button>
                            </div>
                        </form>
                    </div>
                    <div class="contact-block-content-area">
                        {% for contactItem in contents %}
                            <div class="contact-block-item">
                                <div class="contact-icon">
                                    <img src="{{ page.media[contactItem.icon].url() }}" alt=""/>
                                    {% if contactItem.title.translatable != null %}
                                        <h2>{{ contactItem.title.translatable|striptags('<span>')|raw }}</h2>
                                    {% endif %}
                                </div>

                                <div class="contact-block-content">
                                    {% if loop.index == 1 %}
                                        <p>{{ webdata('support_email') }}</p>
                                    {% elseif loop.index == 2 %}
                                        <p>{{ webdata('company.address') }}</p>
                                    {% elseif loop.index == 3 %}
                                        <p>{{ webdata('support_phone') }}</p>
                                    {% elseif loop.index == 4 %}
                                        {% if webdata('support_hours') %}
                                            {% set support_hours =  webdata('support_hours') %}
                                        {% else %}
                                            {% set support_hours =  'Monday - Friday 00-24 (CET), <br/> Weekends 9:00 - 17:00 (CET)' %}
                                        {% endif %}
                                        <p>{{ support_hours|raw }}</p>
                                    {% endif %}
                                    {# <p>{{ contactItem.description.translatable|striptags('<span>')|raw }}</p> #}
                                </div>
                            </div>
                            <!-- End contact-block-item -->
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}