{% extends 'partials/variables.html.twig' %}

{% set module = page.header.hero %}
{% block render_block %}
	{% set image = page.media[page.header.hero.image] %}
	{% set left_image = page.media[page.header.hero.left_image] %}

	{% set bg = page.media[page.header.hero.hero_bg].url ?? '' %}
	<div class="hero {{ module.size == 'medium' ? 'medium' : '' }}" style="{% if(bg) %}background-image: url('{{ bg }}'){% endif %}">
		<div class="container hero-container {{ module.classes }}">

			{% if left_image != '' %}
				<div class="hero-image-left flex-on-lg">
					<img class="" src="{{ left_image.url }}" alt="icon"/>
					<svg xmlns="http://www.w3.org/2000/svg" width="71" height="71" viewBox="0 0 71 71" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M44.975 70.7009C39.7106 51.3351 19.7991 39.8512 0.433799 45.0401C19.8423 39.8396 31.3524 19.8607 26.1423 0.416353C31.4064 19.7823 51.3182 31.2661 70.6835 26.0772C51.2746 31.2778 39.7649 51.2566 44.975 70.7009Z" fill="#191B1F"/>
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="143" height="142" viewBox="0 0 143 142" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M119.05 0.765605C118.56 0.275396 117.895 0 117.201 0C114.873 0 113.706 2.81564 115.353 4.46237L138.525 27.6345C140.172 29.2813 142.988 28.115 142.988 25.786C142.988 25.0927 142.712 24.4277 142.222 23.9375L119.05 0.765605ZM142.988 2.0071C142.988 3.79524 140.826 4.69074 139.561 3.42632C138.297 2.16191 139.193 0 140.981 0C142.089 0 142.988 0.898609 142.988 2.0071ZM142.988 51.0302C142.988 50.3369 142.712 49.672 142.222 49.1817L93.8054 0.765608C93.3152 0.275398 92.6503 0 91.957 0C89.6282 0 88.4619 2.81564 90.1087 4.46236L138.525 52.8788C140.172 54.5256 142.988 53.3592 142.988 51.0302ZM142.988 76.2747C142.988 75.5813 142.712 74.9164 142.222 74.4261L68.5609 0.76561C68.0707 0.275397 67.4058 0 66.7126 0C64.3838 0 63.2175 2.81563 64.8642 4.46235L138.525 78.1232C140.172 79.7701 142.988 78.6037 142.988 76.2747ZM142.988 101.519C142.988 100.826 142.712 100.161 142.222 99.6706L43.3165 0.765639C42.8263 0.275409 42.1614 0 41.4681 0C39.1392 0 37.9729 2.81573 39.6197 4.4625L138.525 103.368C140.172 105.015 142.988 103.848 142.988 101.519ZM142.988 126.764C142.988 126.07 142.712 125.405 142.222 124.915L18.0724 0.765671C17.5821 0.275422 16.9172 0 16.2239 0C13.8949 0 12.7285 2.81582 14.3754 4.46265L138.525 128.612C140.172 130.259 142.988 129.093 142.988 126.764ZM127.751 142C130.08 142 131.246 139.184 129.6 137.538L5.45048 13.3881C3.80364 11.7412 0.987793 12.9076 0.987793 15.2366C0.987793 15.9299 1.26322 16.5948 1.75347 17.0851L125.903 141.234C126.393 141.725 127.058 142 127.751 142ZM102.507 142C104.836 142 106.002 139.184 104.355 137.538L5.4504 38.6324C3.80359 36.9856 0.987793 38.152 0.987793 40.4809C0.987793 41.1742 1.26321 41.8391 1.75346 42.3294L100.658 141.234C101.149 141.725 101.814 142 102.507 142ZM77.2624 142C79.5912 142 80.7575 139.184 79.1108 137.538L5.45051 63.8768C3.80366 62.2299 0.987793 63.3963 0.987793 65.7253C0.987793 66.4186 1.26322 67.0836 1.75347 67.5738L75.414 141.234C75.9042 141.725 76.5691 142 77.2624 142ZM52.0179 142C54.3468 142 55.513 139.184 53.8663 137.538L5.4505 89.1213C3.80365 87.4744 0.987793 88.6408 0.987793 90.9698C0.987793 91.6631 1.26322 92.328 1.75347 92.8183L50.1696 141.234C50.6598 141.725 51.3247 142 52.0179 142ZM26.7733 142C29.1023 142 30.2687 139.184 28.6218 137.537L5.45051 114.366C3.80366 112.719 0.987793 113.885 0.987793 116.214C0.987793 116.908 1.26321 117.572 1.75346 118.063L24.9248 141.234C25.4151 141.725 26.08 142 26.7733 142ZM2.99482 142C4.78286 142 5.67834 139.838 4.41404 138.574C3.1497 137.309 0.987793 138.205 0.987793 139.993C0.987793 141.101 1.88637 142 2.99482 142Z" fill="url(#paint0_linear_14209_60132)"/>
						<defs>
						<linearGradient id="paint0_linear_14209_60132" x1="71.9878" y1="0" x2="71.9878" y2="142" gradientUnits="userSpaceOnUse">
						<stop stop-color="#EBC23A"/>
						<stop offset="1" stop-color="#FAFFB7"/>
						</linearGradient>
						</defs>
					</svg>

					<svg width="234" height="228" viewBox="0 0 234 228" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M113.394 121.007C111.44 121.723 109.34 118.272 111.918 115.501C114.093 112.669 120.862 112.509 124.321 118.08C128.023 123.207 126.274 133.359 117.821 137.527C109.841 142.091 96.4271 138.362 91.5386 126.864C86.1152 115.906 91.6686 99.0389 106.016 93.474C119.782 87.1779 139.881 94.8103 146.176 112.223C153.346 129.032 143.946 152.577 123.723 159.554C104.164 167.568 77.3912 156.073 69.684 132.719C60.7696 110.065 74.0152 79.8235 100.114 71.4475C125.479 61.7057 158.898 77.0826 168.031 106.367C178.667 134.849 161.618 171.81 129.625 181.581C98.4731 193.053 58.3706 173.783 47.8293 138.575C35.447 104.244 56.3425 60.6022 94.2124 49.4207C131.158 36.2348 177.928 59.3665 189.886 100.511C204.01 140.68 179.273 191.032 135.527 203.608C92.7778 218.532 39.3545 191.495 25.9739 144.432C10.1224 98.4274 38.6708 41.3694 88.3103 27.394C136.849 10.7532 196.95 41.6595 211.741 94.6554" stroke="url(#paint0_linear_14028_58128)" stroke-width="2" stroke-linecap="round"/>
						<defs>
						<linearGradient id="paint0_linear_14028_58128" x1="210.266" y1="89.1516" x2="24.3138" y2="138.977" gradientUnits="userSpaceOnUse">
						<stop stop-color="#FFFEB5"/>
						<stop offset="1" stop-color="#E8A511"/>
						</linearGradient>
						</defs>
					</svg>

				</div>
			{% endif %}

			<div class="hero-text {{ module.classes == 'text_image_center' ? 'hero_text_center' : 'hero_text_left' }}">
				<h1 class="hero-title">
					{{ module.h1.translatable|striptags('<span>')|raw }}
				</h1>
				{# <div class="hero-image hidden-on-lg"><img class="zoom-in-image" src="{{ image.url }}" alt="icon"/></div> #}
				<p class="">{{ module.text.translatable }}</p>

				<div class="hero_buttons">
					{% for button in module.buttons  %}
				
					<a class="button " href="{{ button.link }}">
						<span>{{ button.text.translatable }}</span>
						<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M3.37124 0.500001L12.3712 0.5C12.9235 0.5 13.3712 0.947715 13.3712 1.5L13.3712 10.5C13.3712 11.0523 12.9235 11.5 12.3712 11.5C11.819 11.5 11.3712 11.0523 11.3712 10.5L11.3712 3.91421L2.07835 13.2071C1.68783 13.5976 1.05466 13.5976 0.664138 13.2071C0.273614 12.8166 0.273614 12.1834 0.664138 11.7929L9.95703 2.5L3.37124 2.5C2.81896 2.5 2.37124 2.05228 2.37124 1.5C2.37124 0.947716 2.81896 0.5 3.37124 0.500001Z" fill="white"/>
						</svg>
					</a>
					{% endfor %}
				</div>
				
			</div>

			{% if image != '' %}
				<div class="hero-image flex-on-lg">
					<img class="" src="{{ image.url }}" alt="icon"/>
					<svg xmlns="http://www.w3.org/2000/svg" width="137" height="137" viewBox="0 0 137 137" fill="none">
						<path d="M68.5 0L68.5133 68.4326L94.714 5.21423L68.5381 68.4431L116.937 20.0632L68.5569 68.4619L131.786 42.286L68.5674 68.4867L137 68.5L68.5674 68.5133L131.786 94.714L68.5569 68.5381L116.937 116.937L68.5381 68.5569L94.714 131.786L68.5133 68.5674L68.5 137L68.4867 68.5674L42.286 131.786L68.4619 68.5569L20.0632 116.937L68.4431 68.5381L5.21423 94.714L68.4326 68.5133L0 68.5L68.4326 68.4867L5.21423 42.286L68.4431 68.4619L20.0632 20.0632L68.4619 68.4431L42.286 5.21423L68.4867 68.4326L68.5 0Z" stroke="#191B1F" stroke-width="4"/>
					</svg>

					<svg xmlns="http://www.w3.org/2000/svg" width="77" height="77" viewBox="0 0 77 77" fill="none">
						<path d="M28.8946 65.6802C28.4657 66.5238 27.1857 66.0535 27.4051 65.1329L29.2463 57.4104C31.6237 47.4386 26.8584 37.1367 17.7199 32.4918L10.6427 28.8946C9.79896 28.4657 10.2693 27.1857 11.19 27.4051L18.9125 29.2463C28.8842 31.6237 39.1861 26.8584 43.831 17.7199L47.4282 10.6426C47.8571 9.79895 49.1371 10.2693 48.9177 11.19L47.0765 18.9125C44.6991 28.8842 49.4644 39.1861 58.603 43.831L65.6802 47.4282C66.5238 47.8571 66.0535 49.1371 65.1329 48.9177L57.4104 47.0766C47.4386 44.6991 37.1367 49.4644 32.4918 58.603L28.8946 65.6802Z" fill="#F2994A"/>
					</svg>

					<svg xmlns="http://www.w3.org/2000/svg" width="138" height="70" viewBox="0 0 138 70" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M34.5 35L0 0V70L34.5 35ZM69 35L34.5 0V35V70L69 35ZM103.5 35L69 0V35V70L103.5 35ZM103.5 35V0L138 35L103.5 70V35Z" fill="#191B1F"/>
					</svg>
				</div>
				
			{% endif %}

		</div>
	</div>
{% endblock %}
