<section class="stats-section">
	<div class="stats-container container">
		{# <div class="stat-part">
			<div class="mini-card empty-box"></div>
			<div class="stat-card gradient lg-card num-box">
				<h2 class="text-lg-stat"><span class="count-up">95</span>%</h2>
				<p>Customer Satisfaction</p>
			</div>
		</div>
		<div class="stat-part">
			<div class="image lg-card">
				<img src="{{ url('theme://images/hero-img1.png') }}" alt="Customer Interaction">
			</div>
			<div class="stat-card gradient mini-card">
				<h2><span class="count-up">5</span>K</h2>
				<p>Active Users Everyday</p>
			</div>
		</div>
		<div class="stat-part">
			<div class="stat-card text-bubble mini-card">
				<p>Join <span class="count-up">100000</span>+ happy customers who trust us!</p>
			</div>
			<div class="image md-card">
				<img src="{{ url('theme://images/hero-img2.png') }}" alt="Customer Interaction">
			</div>
		</div>
		<div class="stat-part card-4">
			<div class="image lg-card">
				<img src="{{ url('theme://images/hero-img3.png') }}" alt="Team Collaboration">
			</div>
			<div class="image sm-card black-box">
				<img src="{{ url('theme://images/path1.png') }}" alt="Team Collaboration" class="path1">
								<img src="{{ url('theme://images/path2.png') }}" alt="Team Collaboration" class="path2">

			</div>
		</div>
		<div class="stat-part">
        		<div class="mini-card empty-box"></div>
			<div class="stat-card gradient lg-card num-box">
				<p>Customers from</p>
				<h2 class="text-lg-stat"><span class="count-up">50</span>+</h2>
				<p>Countries Worldwide</p>
			</div>
		</div> #}
		       {{ page.header.html.translatable|raw }}
	</div>
</section>
