
<div class="header-buttons {{ login_order }}">
	 {% if grav.user.authenticated %}
	{% else %}
		<a class="{{navbar_button_style}} button btn signup" href="{{ home_url|e }}{{ webdata('signup_url') }}">{{ "METRICALO.SIGNUP"|t }}</a>
	{% endif %}

	{% if grav.language.enabled and grav.language.languages|count > 1 %}
		<span class="language-switcher" data-current-lang="{{ grav.language.active }}" id="open-modal"><img class="frame-29 lang-flag" src="{{ url('theme://images/lang/'~grav.language.active~'.svg') }}">{{ grav.language.active|upper }}
			<svg xmlns="http://www.w3.org/2000/svg" width="8" height="5" viewbox="0 0 8 5" fill="none">
				<path d="M3.64645 4.85355C3.84171 5.04882 4.15829 5.04882 4.35355 4.85355L7.53553 1.67157C7.7308 1.47631 7.7308 1.15973 7.53553 0.964466C7.34027 0.769204 7.02369 0.769204 6.82843 0.964466L4 3.79289L1.17157 0.964466C0.976311 0.769204 0.659728 0.769204 0.464466 0.964466C0.269204 1.15973 0.269204 1.47631 0.464466 1.67157L3.64645 4.85355ZM3.5 3.5L3.5 4.5L4.5 4.5L4.5 3.5L3.5 3.5Z" fill="#101828"/>
			</svg>
		</span>
	{% endif %}
	<div id="mobile-menu-icon"></div>
	<div class="cheeseburger-menu__close" id="cheeseburger-menu-close">
		<span></span>
	</div>
</div>
